.title {
  background: -webkit-linear-gradient(45deg, #130cb7, #52e5e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.title {
  @apply text-2xl font-medium;
}

img {
  width: full;
  height: auto;
}

.btn-gradient {
  background-image: linear-gradient(
    to right,
    #52e5e7 0%,
    #130cb7 51%,
    #52e5e7 100%
  );
  color: #fff;
  transition: 0.5s;
  background-size: 200% auto;
  @apply px-5 py-2 rounded-md;
}

.btn-gradient:hover {
  background-image: linear-gradient(to right, #130cb7 50%, #52e5e7 100%);
  background-position: 100% 0;
}

a {
  @apply text-url;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.active {
  background: linear-gradient(to right, #130cb7, #52e5e7);
  color: #fff;
  fill: #fff;
}
.inactive {
  background: none;
  color: #333;
  fill: #333;
}
.nav-link {
  background: inherit;
}
